<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/main.css">
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/work.js"></script>
<script type="text/javascript" src="js/packed.js"></script>
<!--[if IE 6]>
<script src="js/iepngfx.js" language="javascript" type="text/javascript"></script>
<![endif]-->
<title>首页</title>

</head>

<body>
<div style="background:url(images/list2_bj.jpg) #dbf2fd center top no-repeat; height:281px;">
	<div class="secon"></div>
    <div class="link_a"><a href="index.html"><img src="images/logo.png" class="logo" /></a><A href="#">加入收藏</A>  |  <a href="#">设为首页</a></div>
</div>
<div class="navbg">
  <div class="col960">
    <ul id="navul" class="cl">
      <li><a href="#">网站首页</a></li>
      <li><a href="#">走进青藤</a>
        <ul>
          <li><a href="#">公司简介</a></li>
          <li><a href="#">董事长介绍</a></li>
          <li><a href="#">组织机构</a></li>
          <li><a href="#">青藤成长</a></li>
          <li><a href="#">青藤荣誉</a></li>
        </ul>
      </li>
      <li><a href="#">企业文化</a>
        <ul>
          <li><a href="#">公司简介</a></li>
          <li><a href="#">董事长介绍</a></li>
          <li><a href="#">组织机构</a></li>
          <li><a href="#">青藤成长</a></li>
          <li><a href="#">青藤荣誉</a></li>
        </ul>
      </li>
      <li><a href="#">七彩e生活</a>
        <ul>
          <li><a href="#">公司简介</a></li>
          <li><a href="#">董事长介绍</a></li>
          <li><a href="#">组织机构</a></li>
          <li><a href="#">青藤成长</a></li>
          <li><a href="#">青藤荣誉</a></li>
        </ul>
      </li>
      <li><a href="#">有机农场</a>
        <ul>
          <li><a href="#">公司简介</a></li>
          <li><a href="#">董事长介绍</a></li>
        </ul>
      </li>
      <li><a href="#">新闻中心</a>
        <ul>
          <li><a href="#">公司简介</a></li>
          <li><a href="#">董事长介绍</a></li>
        </ul>
      </li>
      <li><a href="#">员工论坛</a>
        <ul>
          <li><a href="#">公司简介</a></li>
          <li><a href="#">董事长介绍</a></li>
        </ul>
      </li>
      <li><a href="#">人力资源</a>
        <ul>
          <li><a href="#">公司简介</a></li>
          <li><a href="#">董事长介绍</a></li>
          <li><a href="#">公司简介</a></li>
          <li><a href="#">董事长介绍</a></li>
        </ul>
      </li>
      <li class="bj_no"><a href="#">联系我们</a></li>
    </ul>
  </div>
</div>

<div class="content">
	<div class="left_box">
        <div class="c_left">
            <h2>走进青藤</h2>
            <ul>
              <li class="cur"><a href="#">公司简介</a></li>
              <li><a href="#">董事长介绍</a></li>
              <li><a href="#">组织机构</a></li>
              <li><a href="#">青藤成长</a></li>
              <li><a href="#">青藤荣誉</a></li>
            </ul>
        </div>
        <a href="#" class="tel"><img src="images/tel.jpg" /></a>
    </div>
    <div class="c_right">
    	<h1 class="title_C">公司简介</h1>
        <div class="content_p">
        	<p><img src="images/img1.jpg" /></p>
        	<p>绍兴市青藤物业有限公司是具备国家二级资质的大型物业服务企业，成立于2009年9月。公司从成立之日起就全面引入新型的物业管理服务理念。公司以青藤为名，取其"蔓延生长之形，朝气蓬勃之感"的含意，寓意青藤物业的朝气蓬勃、冲劲十足和其旺盛的生命力。</p>
            <p>公司从白手起家开始打拚，短短几年，就迅速崛起，目前在管和签约的多层、高层、别墅等高档住宅和商务写字楼已达30个，350多万平方米，服务的业主约30000户，均获得业主和社区的一致好评,是绍兴地区物业界的后起之秀，政府重点扶持的本地龙头物业服务企业之一。</p>
            <p>公司已于2011年6月通过ISO9001、ISO14001质量、环境二个管理体系认证，公司对客户、社会和员工均拥有高度的社会责任感。</p>
            <p>公司目前共有员工650多人，其中物业管理、经济、财会、统计、人事、档案、计算机应用、工程、土建维修、强电、弱电、管道、安防、绿化等各类专业管理人员或技工150余人，大专及以上学历的员工50多人，中级职称及以上专业管理骨干25人（其中国家注册物业管理师4人），全体员工都充满了年轻的活力。</p>
            <p>为了在管理上为业主提供更便捷服务，公司在数据中心开通了88058110（拨拨灵我拨样样灵）的24小时服务热线，对业主进行全天候服务和回访。</p>
            <p><B>公司的目标：是要建设集物业服务、配送服务、家政服务、养老服务与现代生活于一体的现代物业管理新模式，打造成为国内物业界的一流品牌。</B></p>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="foot">Copyright © 2013-2014 QingTeng.com Inc. All Rights Reserved.   <span>青藤物业有限公司</span>    <span>京ICP备案09008182号</span> </div>

</body>
</html>
