{#include file="header.htm"#}
{#include file="class_info.htm"#}
            <div class="prolist">
            {#include file="class_info_small.htm"#}
            </div>
            <div class="acon">
                {#if $id=="2" #}
            	<ul class="newslist">
                    {#section name="list" loop=$newsList start=$pagestart max=10 step=1#}
                    <li>
                        <p class="title"><a href="/article/{#$newsList[list].cid#}_{#$newsList[list].sid#}_{#$newsList[list].nid#}.html" title="{#$newsList[list].title#}" target="_blank">{#$newsList[list].title#}</a><span>[{#$newsList[list].postdate|date_format:"%Y-%m-%d %H:%M:%S"#}]</span></p>
                        <p>{#$newsList[list].content|strip_tags|truncate:100:"..."#}<a href="/article/{#$newsList[list].cid#}_{#$newsList[list].sid#}_{#$newsList[list].nid#}.html" class="more">【查看全文】</a></p>
                    </li>
                    {#/section#}
                    
                </ul>
                <div class="pages">
                    {#$pagenav#}
                </div>
                {#/if#}
            	{#$classInfo.classinfo#}
            </div>
        </article>
    </section>
{#include file="footer.htm"#}
